# SPDX-License-Identifier: AGPL-3.0-or-later
parameters:
    level: max
    phpVersion: 80400
    paths:
        - lib
        - tests
        - appinfo
    scanDirectories:
        - vendor/nextcloud/ocp
